.app#about {
    background-image: url('../imgs/Shaffer_Taylor-17.Lite.jpg');
    background-position: center center;
}
.about-container {
    display: flex;
    justify-content: flex-end;
}
.about-content {
    width: 600px;
    background-color: rgba(241, 241, 241, 0.8);
    margin: 100px 50px;
    border-radius: 3px;
}
.about-content h1 {
    font-family: "Unbound", Georgia, 'Times New Roman', Times, serif;
    font-size: 64px;
    padding: 10px;
}
.about-content p {
    padding: 0 10px 15px 10px;
    margin: 0 25px;
}