.app#cart {
    background-image: url('../imgs/Wolverine.Lite.jpg');
    background-position: center center;
}
.cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cart-content {
    min-width: 400px;
    background-color: rgba(241, 241, 241, 0.6);
    margin: 5vh 8vw;
    border-radius: 3px;
}
.cart-content > h1 {
    margin: 10px 0;
}
.cart-content > ul {
    list-style: none;
    margin: 0 25px;
}
.cart-content > ul > li {
    margin: 15px 0;
    background-color: rgba(241, 241, 241, 0.8);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
li > * {
    padding: 2px 0;
}
.cart-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-btn {
    padding: 5px 10px;
    margin: 0 20px 0 0;
    border: 2px solid black;
    border-radius: 2px;
}
.inc-btn,
.dec-btn {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 2px solid black;
    padding: 0;
    position: relative;
    margin: 0 5px 0 0;
}
.inc-btn::before, 
.inc-btn::after,
.dec-btn::after {
    content: "";
    background-color: black;
    height: 2px;
    width: 10px;
    position: absolute;
    left: 8px;
}
.inc-btn::before {
    transform: rotate(90deg);
}
.cart-buttons > button {
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.cart-buttons > button:hover {
    cursor: pointer;
    background-color: lightgray;
}
.cart-buttons > button:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 2px black;
}
.cart-item-total {
    text-align: end;
    padding: 0 0 5px;
    margin: 0 25px;
}
.checkout-container {
    padding: 0 0 15px 0;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout-container > p {
    align-self: flex-end;
}
.checkout-container > button {
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    padding: 10px 20px;
    background-color: rgba(241, 241, 241, 0.8);
    border: 2px solid black;
    border-radius: 2px;
    margin: 10px 15px 0 15px;
    transition-duration: .3s;
}
.checkout-container > button:hover {
    cursor: pointer;
    background-color: lightgrey;
}
.checkout-container > button:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 3px black;
}
.checkout-container > button > a {
    text-decoration: none;
}
.checkout-container > button > a:visited {
    color: black;
}
.checkout-container > button > a:hover {

}
.checkout-container > button > a:active {

}