.checkout-page-container {
    flex-grow: 1;
    display: flex;
}
.checkout-content {
    height: fit-content;
    background-color: rgba(241, 241, 241, 0.6);
    padding: 10px 20px;
    margin: 5vh 8vw;
    border-radius: 3px;
}
.checkout-content > * {
    margin: 5px;
}
.checkout-content > button {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 2px;
}
.checkout-content > button > a {
    text-decoration: none;
     color: black;
}
.checkout-content > button:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 3px black;
}
@media (max-width: 1100px) {
    .checkout-content {
        margin: 2vh;
        padding: 3px 5px;
    }
    .checkout-content > h1 {
        font-size: 24px;
    }
    .checkout-content > p {
        font-size: 14px;
    }
    .checkout-content > * {
        margin: 3px;
    }
}