.app#products {
    background-image: url('../imgs/Surf.Lite.jpg');
    background-position: center center;
}
.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.products-content {
    grid-column: 2/3;
    background-color: rgba(241, 241, 241, 0.6);
    margin: 3vh 10vw 3vh 0;
    border-radius: 3px;
}
.products-title {
    margin-top: 25px;
}
.product-card {
    min-height: 130px;
    min-width: 480px;
    background-color: rgba(241, 241, 241, 0.8);
    margin: 25px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.product-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}
.view,
.add-to-cart {
    padding: 5px 10px;
    border: 2px solid black;
    margin: 10px 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view:hover,
.add-to-cart:hover {
    cursor: pointer;
}
.view:active,
.add-to-cart:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 3px black;
}
.add-to-cart > img {
    height: 24px;
}
.add-check {
    padding: 0 10px;
    border: 2px solid rgb(67, 140, 71);
}
.add-close {
    padding: 2.5px 10px;
}
.view > a {
    text-decoration: none;
    color: black;
}
