* {
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 1600px;
  background-image: url('./imgs/Amity_Goldengate_highres-10.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  width: 100%;
}
.header-container {
  display: flex;
  background-color: rgba(241, 241, 241, 0.6);
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.name-container {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
nav {
  display: flex;
}
ul > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0 15px;
  display: inline-block;
  position: relative;
}
ul > a::before,
ul > a::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
ul > a:visited {
  
}
ul > a:hover {

}
ul > a:hover::before,
ul > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
ul > a:active {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
