* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
}
@font-face {
  font-family: "Unbound";
  src: url(./style/Unbounded-VariableFont_wght.ttf)
      format("truetype");
}
@font-face {
  font-family: "Roboto Slab";
  src: url(./style/RobotoSlab-VariableFont_wght.ttf)
      format("truetype");
}
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 1600px;
  background-image: url('./imgs/Amity_Goldengate.Lite.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  width: 100%;
}
.header-container {
  display: flex;
  background-color: rgba(241, 241, 241, 0.6);
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.name-container {
  font-family: "Unbound", Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.name-container > a {
  font-family: inherit;
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
}
.header-container > nav > ul {
  display: flex;
}
.header-container > nav > ul > a {
  font-family: "Unbound", Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0 15px;
  display: block;
  align-self: center;
  position: relative;
}
.header-container > nav > ul > a:last-child {
  /* display: flex; */
}
.header-container > nav > ul > a::after,
.menu-extension > a::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header-container > nav > ul > a:hover::after,
.menu-extension > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.cart-logo-img {
  height: 24px;
  align-self: center;
}
.cart-number-bubble {
  font-family: "Unbound", Georgia, 'Times New Roman', Times, serif;
  min-width: 30px;
  height: 30px;
  background-color: rgba(241, 241, 241, 0.8);
  border-radius: 10px;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu {
  display: none;   
}
.menu-extension {
  display: none;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.8);
}
.menu-extension > * {
  font-family: "Unbound", Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 2vh 1vw;
  margin: 5px 2vw;
}
.checkout-box {
  display: flex;
}
@keyframes cart-logo { 
    20% { transform: rotate(20deg); } 
    40% { transform: rotate(-10deg); } 
    60% { transform: rotate(15deg); } 
    80% { transform: rotate(-15deg); } 
    100% { transform: rotate(0deg); } 
}

@media (max-width: 1100px) {
  .app {
    min-height: 100vh;
    background-position: 70%;
  }
  .header-container {
    padding: 0 5vw;
  }
  .name-container {
    font-size: 16px;
    padding: 2vh 0;
  }
  .header-container > nav > ul {
    display: none;
  }
  .header-container > nav > ul:last-child {
    display: block;
  }
  nav > ul > a {
    padding: 0;
  }
  .mobile-menu {
    display: flex;
    border: none;
    background-color: transparent;
  }
  .mobile-menu > img {
    height: 25px;
    width: 25px;
  }
  .mobile-menu:hover {
    cursor: pointer;
    transform: scale(1.15);
  }
  .cart-logo-img {
    height: 20px;
  }
  .cart-number-bubble {
    height: 25px;
    min-width: 25px;
    font-size: 12px;
  }
}